/* Titles = #748EFD
Subtitles = #FFFFFF 
background = #202124
Paragraph texts = #6b7280 */



body {
    background-color: #202124;
}

/* Onboarding Section */

.text-sec h1, .text-sec h5 {
    color: #E8EAED;
}

.text-sec p {
    color: #6b7280;
}

.text-sec span {
    color: #4285F4;
}

.sz, .btn-success  {
    font-size: 18px;
    background-color: #4285F4;
    border-color: #4285F4;
    color: #fff;
}

.btn-primary:hover {
    background-color: #202124;
    border:#4285F4 solid 1px;
    color: #4285F4;
}

.text-decoration-none{
    color: #fff;
}


.btn-success:hover {
    background-color: #202124;
    border:#4285F4 solid 1px;
    color: #4285F4;
}

.login:hover{
  color: #fff;
}
